.table-image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.table-title {
    font-weight: bold;
}

.table-description {
    font-size: .875rem;
    font-family: monospace
}
.table-price {
    font-weight: bold;
}

textarea {
    resize: none;
}

.login-container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}